<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Url shortener</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		 <div class="row">
		<div class="col-md-6 col-md-offset-3">
		 <nav class="navbar navbar-default">
		 	<a class="navbar-brand" href="/">Url shortener</a>
		 </nav>
    {% block content %}{% endblock %}		
    </div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>